body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
/*NAV*/
#mainnav {
    margin-bottom: 50px;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.nav-link {
    margin-left:30px;
}

.nav-title {
    font-weight: bold;
    font-size: 35px;
}

.nav-title:hover {
    color:whitesmoke;
    text-decoration: none;
}

/*REVIEW LIST*/
.rev-holder { 
    border-style: initial;
    background-color: rgba(76, 77, 79, 0.4);
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
a:hover {
    color:lightgreen;
}

/*AUTHOR LIST*/
.auth-holder {
    border-style: initial;
    background-color: rgba(76, 77, 79, 0.4);
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 10px;
}

/*Images*/

#mario {
    width:20%;
    float: right;
    margin-top: 0;
}
#pipe {
    width:12%;
    float: right;
    margin-top:49px;

}

#babymario {
    width: 10%;
    float: right;
    margin-right: 70%;
}
#rick {
    float: right;
    width: 12%;
    margin-right: 5%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
    #rick:hover {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
#sword {
    float: right;
    width: 15%;
    margin-right: 50px;
}
#dk {
    float: right;
    width: 18%;
    margin-top: 100px;
    margin-right: 50%;
}
/*FORMS*/
.form-style {

}