@using http5204_passion_project.Models
@model IEnumerable<http5204_passion_project.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img id="mario" src="~/images/mario.png" />
<img id="pipe" src="~/images/pipe.png" />
<div class="jumbotron">
    <h1>JustGeekin</h1>
    <p class="lead">A safe place to geek</p>
   
    <a class="btn btn-primary" href="http://localhost:52372/Author/Create">Create an alias</a>
    <a class="btn btn-primary" href="http://localhost:52372/Review/New">Write a review</a>
    

</div>



