@using http5204_passion_project.Models
@model IEnumerable<http5204_passion_project.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to Geekology</h1>
    <p class="lead">A place for all things 'geek'</p>
    <a class="btn btn-primary" href="http://localhost:52372/Author/Create">Create an alias</a>
    <a class="btn btn-primary" href="http://localhost:52372/Review/New">Write a review</a>

</div>




