@model IEnumerable<http5204_passion_project.Models.Author>

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Review</h2>
<form method="POST" action="/Review/Create">
    <div class="form-group">
        <label>Title</label>
        <input id="ReviewTitle" name="new_ReviewName" />
    </div>

    <div class="form-group">
        <label>Series (Where is it from?)</label>
        <input id="ReviewSeries" name="new_ReviewSeries" />
    </div>

    <div class="inptrow">
        <label class="inplabel">Author</label>
        <select id="AuthorAlias" name="Authors_AuthorId">
            @foreach (var author in Model)
            {
                <option value="@author.AuthorId">@author.AuthorAlias</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select name="new_ReviewCategory">
            <option value="tv">TV Show</option>
            <option value="movie">Movie</option>
            <option value="game">Video Game</option>
            <option value="comic">Comic Book</option>
            <option value="book">Book</option>
        </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="date" name="new_ReviewDate">
    </div>



    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" id="exampleTextarea" rows="10" style="height: 258px; width:500px;" name="new_ReviewContent"></textarea>
    </div>

    <input type="submit" id="submitBtn" class="btn btn-primary" value="Create" />

</form>

