@model http5204_passion_project.Models.Review

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ReviewName</h2>

<div class="form-group">
    @Html.ActionLink("Edit", "Edit/" + Model.ReviewId)
</div>
<div>
    <div class="form-group">
        <article>
            <p>@Model.ReviewContent</p>
        </article>
    </div>
    <div class="form-group">
        <aside>

            @if (Model.Authors.HasPic == 1)
            {
                <img src="~/images/authors/@(Model.Authors.AuthorId).@(Model.Authors.ImageType)" />
            }
            else
            {
                <img src="~/images/authors/deadpool.jpg" />
            }

        </aside>
        <span>Written By: @Html.ActionLink(Model.Authors.AuthorAlias, "Details/" + Model.Authors.AuthorId, "Author")</span>
    </div>
    <div class="clearfix"></div>
</div>

