@model http5204_passion_project.Models.Author

@{
    ViewBag.Title = "Create";
}

<h1>New Author</h1>

<form method="POST" action="/Author/Create">
    <div class="form-group">
        <label for="AuthorAlias">Alias</label><br>
        <input id="AuthorAlias" name="new_AuthorAlias" placeholder="Enter alias" />
    </div>

    <div class="form-group">
        <label for="uploadPic">Upload Profile Image</label>
        <input type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
    </div>

    <input type="submit" id="submitBtn" class="btn btn-primary" value="Create" />
    <img id="babymario" src="~/images/babymario.png" />

</form>

