@model http5204_passion_project.Models.Author

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.AuthorAlias</h2>

<form method="POST" action="/Author/Edit/@Model.AuthorId">
    <div class="form-group">
        <label>Alias</label>
        <input id="AuthorAlias" class="form-control" value="@Model.AuthorAlias" name="AuthorAlias" />
    </div>
    
    <div class="form-group">  
        <aside>

            @if (Model.HasPic == 1)
            {
                <img src="~/images/authors/@(Model.AuthorId).@(Model.ImageType)"/>
            }
            else
            {
                <img src="~/images/authors/stormtrooper.jpg"/>
            }

        </aside>
    </div>

    <div class="form-group">
        <label for="uploadPic">Upload Profile Image</label>
        <input type="file" class="form-control-file" id="authorimg" value="@Model.AuthorAlias" name="ImageType">
      
    </div>

    <input type="submit" id="submitBtn" class="btn btn-primary" value="Publish" />

</form>
