@model IEnumerable<http5204_passion_project.Models.Author>

@{
    ViewBag.Title = "List";
}

<h1>Authors</h1>
<aside class="btn btn-primary">@Html.ActionLink("New Author", "Create")</aside>


@foreach (var author in Model)

{
<div class="auth-holder">
    <h2>@Html.ActionLink(author.AuthorAlias, "Show/" + author.AuthorId)</h2>
</div>
        }
<img id="sword" src="~/images/sword.png" />
    

