@using http5204_passion_project.Models
@model http5204_passion_project.Models.Author

@{
    ViewBag.Title = "Show";
}
<div class="form-group">
    <div class="btn btn-info"> @Html.ActionLink("Edit", "Edit/" + Model.AuthorId) </div>
    <div class="btn btn-danger"> @Html.ActionLink("Delete", "Delete/" + Model.AuthorId) </div>
    
</div>



<div class="form-group">  
    <aside>

        @if (Model.HasPic == 1)
        {
            <img src="~/images/authors/@(Model.AuthorId).@(Model.ImageType)"/>
        }
        else
        {
            <img src="~/images/authors/stormtrooper.jpg"/>
        }

    </aside>
</div>
<h2>@Model.AuthorAlias</h2>
<div>
    <h3>Reviews:</h3>
    @foreach (var review in Model.Reviews)
    {
        @Html.ActionLink(review.ReviewName, "Show/" + review.ReviewId, "Review")<br>
    }
</div>

